<h1>商品新規登録</h1>
<%= form_with model: @item, url:'/admin/items', method: :post do |f| %>
  <%= f.label :image, "商品画像" %>
  <%= f.file_field :image, accept: "image/*" %>
  <br>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :introduction, "商品説明" %>
  <%= f.text_area :introduction %>
  <br>
  ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
  <br>
  <%= f.label :price, "税抜価格" %>
  <%= f.text_field :price %>円
  <br>
  販売ステータス
  <%= f.radio_button :is_active, :TRUE, checked: true %>
  <%= f.label :is_active, "販売中" %>
  <%= f.radio_button :is_active, :FALSE %>
  <%= f.label :is_active, "販売停止中" %>
  <br>
  <%= f.submit "新規登録" %>
<% end %>