<h1>注文履歴一覧</h1>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order.id) %></td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <% @total_amount = 0 %>
        <% order.order_items.each do |order_item| %>
          <%@total_amount += order_item.amount %>
        <% end %>
        <td><%= @total_amount %></td>
        <td><%= Order.statuses_i18n[order.status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>