<h1>配送先登録/一覧</h1>
<%= form_with model: @address, url: delivery_addresses_path, method: :post do |f| %>
  <table>
    <tr>
      <th><%= f.label :postal_code, "郵便番号(ハイフン)なし" %></th>
      <td><%= f.text_field :postal_code, placeholder: "00000000" %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
    </tr>
    <tr>
      <th><%= f.label :name, "宛名" %></th>
      <td><%= f.text_field :name, placeholder: "令和道子" %></td>
    </tr>
  </table>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.submit "新規登録" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_delivery_address_path(address.id) %> <%= link_to "削除する", delivery_address_path(address.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>